--- kernel/drivers/Kconfig	2019-04-06 02:05:14.913158159 +0200
+++ drivers/Kconfig	2019-04-06 01:26:41.472565287 +0200
@@ -1,6 +1,8 @@
 # SPDX-License-Identifier: GPL-2.0
 menu "Device Drivers"
 
+source "drivers/stufa/Kconfig"
+
 source "drivers/amba/Kconfig"
 
 source "drivers/base/Kconfig"
